<launch>
    <!-- UAV 2 -->
    <group ns="uav2">
        <include file="$(find so3_quadrotor_simulator)/launch/simulator.launch">
            <arg name="init_x" value="-30"/>
            <arg name="init_y" value="-30"/>
            <arg name="init_z" value="1"/>
            <arg name="namespace" value="uav2"/>
        </include>
    </group>

    <!-- UAV 3 -->
    <group ns="uav3">
        <include file="$(find so3_quadrotor_simulator)/launch/simulator.launch">
            <arg name="init_x" value="-30"/>
            <arg name="init_y" value="-29"/>
            <arg name="init_z" value="1"/>
            <arg name="namespace" value="uav2"/>
        </include>
    </group>

    <!-- UAV 4 -->
    <group ns="uav4">
        <include file="$(find so3_quadrotor_simulator)/launch/simulator.launch">
            <arg name="init_x" value="-30"/>
            <arg name="init_y" value="-28"/>
            <arg name="init_z" value="1"/>
            <arg name="namespace" value="uav2"/>
        </include>
    </group>

    <!-- UAV 5 -->
    <group ns="uav5">
        <include file="$(find so3_quadrotor_simulator)/launch/simulator.launch">
            <arg name="init_x" value="-31"/>
            <arg name="init_y" value="-30"/>
            <arg name="init_z" value="1"/>
            <arg name="namespace" value="uav2"/>
        </include>
    </group>

    <!-- UAV 6 -->
    <group ns="uav6">
        <include file="$(find so3_quadrotor_simulator)/launch/simulator.launch">
            <arg name="init_x" value="-31"/>
            <arg name="init_y" value="-29"/>
            <arg name="init_z" value="1"/>
            <arg name="namespace" value="uav2"/>
        </include>
    </group>

    <!-- UAV 7 -->
    <group ns="uav7">
        <include file="$(find so3_quadrotor_simulator)/launch/simulator.launch">
            <arg name="init_x" value="-31"/>
            <arg name="init_y" value="-28"/>
            <arg name="init_z" value="1"/>
            <arg name="namespace" value="uav2"/>
        </include>
    </group>

    <node pkg="mockamap" type="mockamap_node" name="mockamap_node" output="screen">
    <param name="seed" type="int" value="511"/>
    <param name="update_freq" type="double" value="1.0"/>

    <!--  box edge length, unit meter-->
    <param name="resolution" type="double" value="0.1"/>

    <!-- map size unit meter-->
    <param name="x_length" type="int" value="50"/>
    <param name="y_length" type="int" value="50"/>
    <param name="z_length" type="int" value="10"/>

    <param name="type" type="int" value="2"/>
    <param name="width_min"         type="double" value="1"/>
    <param name="width_max"         type="double" value="4"/>
    <param name="obstacle_number"   type="int"    value="100"/>

    </node>

    <node pkg="marker_publisher" type="marker_publisher" name="marker_publisher" output="screen"/>

     <node name="rule_check" pkg="rule_check" type="task2_rule" 
          launch-prefix="xterm -e" output="screen"/>


    <!-- RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find so3_quadrotor_simulator)/config/rviz.rviz"/>
  
</launch>
